<!DOCTYPE html>
<html lang="{{@site.locale}}">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "built/core.css"}}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Montserrat:wght@400&display=swap" rel="stylesheet">
    <title>{{meta_title}}</title>

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}
</head>
	<body>
        <aside class="logo">
            <a href="{{@site.url}}">
                <img src="{{@site.logo}}" alt="{{@site.title}}" />
            </a>
        </aside>
		<div id="content">{{{body}}}</div>
        {{#if @site.navigation}}
        <div class="page-navigation code">{{navigation}}</div>
        {{/if}}
        <div class="footer">
            <span class="block">&copy; {{date format="YYYY"}} {{@site.title}} </span>
            <span class="block">
                <small>
                    &lt;/&gt;
                    <a href="https://github.com/nchepanov/the-ghost-plain">Design</a> based on <a href="https://github.com/heiswayi/the-plain">The Plain</a> theme for Jekyll.
                    Powered by <a href="https://ghost.org/" target="_blank" rel="noopener" >Ghost</a>. 
                </small>
            </span>
        </div>
        
        {{ghost_foot}}
        {{!-- Outputs important scripts - should always be included before closing body tag --}}

	</body>
</html>