{{!< default}}

<section class="site-description">
	<div class="center">
		<h1>{{@site.description}}</h1>
        {{#if @site.navigation}}
        {{navigation}}
        {{/if}}
	</div>

	<div class="divider"></div>
</section>

<section>

	{{#foreach posts}}
        {{!-- TODO
		{% unless post.next %}
			<h3 class="code">{{ post.date | date: '%Y' }}</h3>
		{% else %}
			{% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
			{% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
			{% if year != nyear %}
				<h3 class="code">{{ post.date | date: '%Y' }}</h3>
			{% endif %}
		{% endunless %}
        --}}
		<ul>
			<li>
				<div class="post-date">
					<span>{{date format="D MMM YYYY"}}</span>
				</div>
				<div class="title">
					<a href="{{url}}">{{title}}</a>
				</div>
			</li>
		</ul>

	{{/foreach}}

</section>