{{!< default}}

{{#post}}

<article>

	<div class="center">
		<h1 class="title">{{title}}</h1>
		<time class="code" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
		<span class="code">&middot;</span>
		<span class="code">{{reading_time}}</span>
	</div>

	<div class="divider"></div>

	{{content}}

	<nav class="post-navigation">
		{{#next_post}}
			<a href="{{url}}" class="post-navigation-link post-navigation-next">
				 &larr;&nbsp;{{title}}
			</a>
		{{/next_post}}
		{{#prev_post}}
			<a href="{{url}}" class="post-navigation-link post-navigation-prev">
				{{title}}&nbsp;&rarr; 
			</a>
		{{/prev_post}}

	</nav>

</article>

{{/post}}