{{!< default}}

{{#post}}

<article>

	<div class="center">
		<h1 class="title">{{title}}</h1>
		<time class="code" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
		<span class="code">&middot;</span>
		<span class="code">{{reading_time}}</span>
	</div>

	<div class="divider"></div>

	{{content}}

</article>

{{/post}}